# Maven & Build output
target/
*.log

# Node & Angular (esclude solo dipendenze e build, traccia tutto il codice src)
frontend/node_modules/
frontend/dist/
frontend/.angular/
node_modules/
dist/
.angular/

# Eclipse & NetBeans
.classpath
.project
.settings/
.factorypath
/nbproject/private/
/nbbuild/

# IntelliJ IDEA (Escludiamo solo i file temporanei della workspace, mantenendo vcs.xml per Git)
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
*.iws
*.iml
*.ipr